.mainHeader {
    text-align: center;
    font-family: sans-serif;
    background-color: #B02A12B3;
    padding:3%;
    margin: 0%;
    border: 7px;
    border-color: white;
    border-style: double;
    
        
    
}
body {
    font-family: sans-serif;
}   