.mainHeader {
    text-align: center;
    font-family: sans-serif;
    background-color: #012169B3;
    padding:3%;
    margin: 0%;
    border: 7px;
    border-color: red;
    border-style: double;
    
        
    
}
body {
    font-family: sans-serif;
}   